In [3]:
import pandas as pd
import csv

In [5]:
overdose_df = pd.read_csv("VSRR_Provisional_Drug_Overdose_Death_Counts.csv")
print(overdose_df)

      State  Year     Month           Period  \
0        AK  2015     April  12 month-ending
1        AK  2015     April  12 month-ending
2        AK  2015     April  12 month-ending
3        AK  2015     April  12 month-ending
4        AK  2015     April  12 month-ending
5        AK  2015     April  12 month-ending
6        AK  2015     April  12 month-ending
7        AK  2015     April  12 month-ending
8        AK  2015     April  12 month-ending
9        AK  2015     April  12 month-ending
10       AK  2015     April  12 month-ending
11       AK  2015     April  12 month-ending
12       AK  2015    August  12 month-ending
13       AK  2015    August  12 month-ending
14       AK  2015    August  12 month-ending
15       AK  2015    August  12 month-ending
16       AK  2015    August  12 month-ending
17       AK  2015    August  12 month-ending
18       AK  2015    August  12 month-ending
19       AK  2015    August  12 month-ending
20       AK  2015    August  12 month-ending
21       AK  2015    August  12 month-ending
22       AK  2015    August  12 month-ending
23       AK  2015    August  12 month-ending
24       AK  2015  December  12 month-ending
25       AK  2015  December  12 month-ending
26       AK  2015  December  12 month-ending
27       AK  2015  December  12 month-ending
28       AK  2015  December  12 month-ending
29       AK  2015  December  12 month-ending
...     ...   ...       ...              ...
25062    YC  2019  February  12 month-ending
25063    YC  2019  February  12 month-ending
25064    YC  2019  February  12 month-ending
25065    YC  2019  February  12 month-ending
25066    YC  2019  February  12 month-ending
25067    YC  2019  February  12 month-ending
25068    YC  2019   January  12 month-ending
25069    YC  2019   January  12 month-ending
25070    YC  2019   January  12 month-ending
25071    YC  2019   January  12 month-ending
25072    YC  2019   January  12 month-ending
25073    YC  2019   January  12 month-ending
25074    YC  2019   January  12 month-ending
25075    YC  2019   January  12 month-ending
25076    YC  2019   January  12 month-ending
25077    YC  2019   January  12 month-ending
25078    YC  2019   January  12 month-ending
25079    YC  2019   January  12 month-ending
25080    YC  2019     March  12 month-ending
25081    YC  2019     March  12 month-ending
25082    YC  2019     March  12 month-ending
25083    YC  2019     March  12 month-ending
25084    YC  2019     March  12 month-ending
25085    YC  2019     March  12 month-ending
25086    YC  2019     March  12 month-ending
25087    YC  2019     March  12 month-ending
25088    YC  2019     March  12 month-ending
25089    YC  2019     March  12 month-ending
25090    YC  2019     March  12 month-ending
25091    YC  2019     March  12 month-ending

                                               Indicator        Data Value  \
0                            Opioids (T40.0-T40.4,T40.6)               NaN
1      Natural & semi-synthetic opioids, incl. methad...               NaN
2                                        Cocaine (T40.5)               NaN
3                           Percent with drugs specified  88.0952380952381
4          Psychostimulants with abuse potential (T43.6)               NaN
5                                         Heroin (T40.1)               NaN
6                                       Number of Deaths             4,133
7      Natural, semi-synthetic, & synthetic opioids, ...               NaN
8               Natural & semi-synthetic opioids (T40.2)               NaN
9                         Number of Drug Overdose Deaths               126
10                                     Methadone (T40.3)               NaN
11            Synthetic opioids, excl. methadone (T40.4)               NaN
12     Natural & semi-synthetic opioids, incl. methad...               NaN
13         Psychostimulants with abuse potential (T43.6)               NaN
14                                       Cocaine (T40.5)               NaN
15                          Percent with drugs specified  87.9032258064516
16                                     Methadone (T40.3)               NaN
17     Natural, semi-synthetic, & synthetic opioids, ...               NaN
18            Synthetic opioids, excl. methadone (T40.4)               NaN
19              Natural & semi-synthetic opioids (T40.2)               NaN
20                        Number of Drug Overdose Deaths               124
21                                        Heroin (T40.1)               NaN
22                           Opioids (T40.0-T40.4,T40.6)               NaN
23                                      Number of Deaths             4,222
24            Synthetic opioids, excl. methadone (T40.4)               NaN
25                                        Heroin (T40.1)               NaN
26                                      Number of Deaths             4,193
27     Natural, semi-synthetic, & synthetic opioids, ...               NaN
28              Natural & semi-synthetic opioids (T40.2)               NaN
29                           Opioids (T40.0-T40.4,T40.6)               NaN
...                                                  ...               ...
25062      Psychostimulants with abuse potential (T43.6)                67
25063                                  Methadone (T40.3)               158
25064                       Percent with drugs specified  99.5238095238095
25065           Natural & semi-synthetic opioids (T40.2)               266
25066                        Opioids (T40.0-T40.4,T40.6)             1,152
25067         Synthetic opioids, excl. methadone (T40.4)               854
25068                       Percent with drugs specified  99.5195607412492
25069                                    Cocaine (T40.5)               620
25070  Natural, semi-synthetic, & synthetic opioids, ...             1,019
25071  Natural & semi-synthetic opioids, incl. methad...               391
25072                                     Heroin (T40.1)               602
25073                                   Number of Deaths            54,508
25074      Psychostimulants with abuse potential (T43.6)                68
25075           Natural & semi-synthetic opioids (T40.2)               253
25076                                  Methadone (T40.3)               169
25077                     Number of Drug Overdose Deaths             1,457
25078         Synthetic opioids, excl. methadone (T40.4)               838
25079                        Opioids (T40.0-T40.4,T40.6)             1,139
25080  Natural & semi-synthetic opioids, incl. methad...               381
25081  Natural, semi-synthetic, & synthetic opioids, ...             1,030
25082                                    Cocaine (T40.5)               639
25083                                     Heroin (T40.1)               595
25084      Psychostimulants with abuse potential (T43.6)                67
25085                        Opioids (T40.0-T40.4,T40.6)             1,148
25086                                   Number of Deaths            54,383
25087           Natural & semi-synthetic opioids (T40.2)               261
25088                     Number of Drug Overdose Deaths             1,460
25089                                  Methadone (T40.3)               152
25090                       Percent with drugs specified  99.5205479452055
25091         Synthetic opioids, excl. methadone (T40.4)               858

      Percent Complete  Percent Pending Investigation     State Name  \
0                  100                       0.000000         Alaska
1                  100                       0.000000         Alaska
2                  100                       0.000000         Alaska
3                  100                       0.000000         Alaska
4                  100                       0.000000         Alaska
5                  100                       0.000000         Alaska
6                  100                       0.000000         Alaska
7                  100                       0.000000         Alaska
8                  100                       0.000000         Alaska
9                  100                       0.000000         Alaska
10                 100                       0.000000         Alaska
11                 100                       0.000000         Alaska
12                 100                       0.000000         Alaska
13                 100                       0.000000         Alaska
14                 100                       0.000000         Alaska
15                 100                       0.000000         Alaska
16                 100                       0.000000         Alaska
17                 100                       0.000000         Alaska
18                 100                       0.000000         Alaska
19                 100                       0.000000         Alaska
20                 100                       0.000000         Alaska
21                 100                       0.000000         Alaska
22                 100                       0.000000         Alaska
23                 100                       0.000000         Alaska
24                 100                       0.000000         Alaska
25                 100                       0.000000         Alaska
26                 100                       0.000000         Alaska
27                 100                       0.000000         Alaska
28                 100                       0.000000         Alaska
29                 100                       0.000000         Alaska
...                ...                            ...            ...
25062              100                       0.034951  New York City
25063              100                       0.034951  New York City
25064              100                       0.034951  New York City
25065              100                       0.034951  New York City
25066              100                       0.034951  New York City
25067              100                       0.034951  New York City
25068              100                       0.016511  New York City
25069              100                       0.016511  New York City
25070              100                       0.016511  New York City
25071              100                       0.016511  New York City
25072              100                       0.016511  New York City
25073              100                       0.016511  New York City
25074              100                       0.016511  New York City
25075              100                       0.016511  New York City
25076              100                       0.016511  New York City
25077              100                       0.016511  New York City
25078              100                       0.016511  New York City
25079              100                       0.016511  New York City
25080              100                       0.049648  New York City
25081              100                       0.049648  New York City
25082              100                       0.049648  New York City
25083              100                       0.049648  New York City
25084              100                       0.049648  New York City
25085              100                       0.049648  New York City
25086              100                       0.049648  New York City
25087              100                       0.049648  New York City
25088              100                       0.049648  New York City
25089              100                       0.049648  New York City
25090              100                       0.049648  New York City
25091              100                       0.049648  New York City

                                                Footnote Footnote Symbol  \
0      Numbers may differ from published reports usin...              **
1      Numbers may differ from published reports usin...              **
2      Numbers may differ from published reports usin...              **
3      Numbers may differ from published reports usin...              **
4      Numbers may differ from published reports usin...              **
5      Numbers may differ from published reports usin...              **
6      Numbers may differ from published reports usin...              **
7      Numbers may differ from published reports usin...              **
8      Numbers may differ from published reports usin...              **
9      Numbers may differ from published reports usin...              **
10     Numbers may differ from published reports usin...              **
11     Numbers may differ from published reports usin...              **
12     Numbers may differ from published reports usin...              **
13     Numbers may differ from published reports usin...              **
14     Numbers may differ from published reports usin...              **
15     Numbers may differ from published reports usin...              **
16     Numbers may differ from published reports usin...              **
17     Numbers may differ from published reports usin...              **
18     Numbers may differ from published reports usin...              **
19     Numbers may differ from published reports usin...              **
20     Numbers may differ from published reports usin...              **
21     Numbers may differ from published reports usin...              **
22     Numbers may differ from published reports usin...              **
23     Numbers may differ from published reports usin...              **
24     Numbers may differ from published reports usin...              **
25     Numbers may differ from published reports usin...              **
26     Numbers may differ from published reports usin...              **
27     Numbers may differ from published reports usin...              **
28     Numbers may differ from published reports usin...              **
29     Numbers may differ from published reports usin...              **
...                                                  ...             ...
25062              Underreported due to incomplete data.               *
25063              Underreported due to incomplete data.               *
25064              Underreported due to incomplete data.               *
25065              Underreported due to incomplete data.               *
25066              Underreported due to incomplete data.               *
25067              Underreported due to incomplete data.               *
25068              Underreported due to incomplete data.               *
25069              Underreported due to incomplete data.               *
25070              Underreported due to incomplete data.               *
25071              Underreported due to incomplete data.               *
25072              Underreported due to incomplete data.               *
25073              Underreported due to incomplete data.               *
25074              Underreported due to incomplete data.               *
25075              Underreported due to incomplete data.               *
25076              Underreported due to incomplete data.               *
25077              Underreported due to incomplete data.               *
25078              Underreported due to incomplete data.               *
25079              Underreported due to incomplete data.               *
25080              Underreported due to incomplete data.               *
25081              Underreported due to incomplete data.               *
25082              Underreported due to incomplete data.               *
25083              Underreported due to incomplete data.               *
25084              Underreported due to incomplete data.               *
25085              Underreported due to incomplete data.               *
25086              Underreported due to incomplete data.               *
25087              Underreported due to incomplete data.               *
25088              Underreported due to incomplete data.               *
25089              Underreported due to incomplete data.               *
25090              Underreported due to incomplete data.               *
25091              Underreported due to incomplete data.               *

      Predicted Value
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 127
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                125
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
...               ...
25062              68
25063             160
25064             NaN
25065             269
25066           1,158
25067             861
25068             NaN
25069             653
25070           1,019
25071             391
25072             602
25073             NaN
25074              69
25075             253
25076             170
25077           1,457
25078             839
25079           1,139
25080             386
25081           1,042
25082             675
25083             601
25084              69
25085           1,160
25086             NaN
25087             265
25088           1,474
25089             155
25090             NaN
25091             869

[25092 rows x 12 columns]

In [24]:
header = overdose_df.iloc[0]
print(header)

State                                                                           AK
Year                                                                          2015
Month                                                                        April
Period                                                             12 month-ending
Indicator                                              Opioids (T40.0-T40.4,T40.6)
Data Value                                                                     NaN
Percent Complete                                                               100
Percent Pending Investigation                                                    0
State Name                                                                  Alaska
Footnote                         Numbers may differ from published reports usin...
Footnote Symbol                                                                 **
Predicted Value                                                                NaN
Name: 0, dtype: object

In [39]:
state_data= overdose_df[['State','Year','Data Value']]
print(state_data)

      State  Year        Data Value
0        AK  2015               NaN
1        AK  2015               NaN
2        AK  2015               NaN
3        AK  2015  88.0952380952381
4        AK  2015               NaN
5        AK  2015               NaN
6        AK  2015             4,133
7        AK  2015               NaN
8        AK  2015               NaN
9        AK  2015               126
10       AK  2015               NaN
11       AK  2015               NaN
12       AK  2015               NaN
13       AK  2015               NaN
14       AK  2015               NaN
15       AK  2015  87.9032258064516
16       AK  2015               NaN
17       AK  2015               NaN
18       AK  2015               NaN
19       AK  2015               NaN
20       AK  2015               124
21       AK  2015               NaN
22       AK  2015               NaN
23       AK  2015             4,222
24       AK  2015               NaN
25       AK  2015               NaN
26       AK  2015             4,193
27       AK  2015               NaN
28       AK  2015               NaN
29       AK  2015               NaN
...     ...   ...               ...
25062    YC  2019                67
25063    YC  2019               158
25064    YC  2019  99.5238095238095
25065    YC  2019               266
25066    YC  2019             1,152
25067    YC  2019               854
25068    YC  2019  99.5195607412492
25069    YC  2019               620
25070    YC  2019             1,019
25071    YC  2019               391
25072    YC  2019               602
25073    YC  2019            54,508
25074    YC  2019                68
25075    YC  2019               253
25076    YC  2019               169
25077    YC  2019             1,457
25078    YC  2019               838
25079    YC  2019             1,139
25080    YC  2019               381
25081    YC  2019             1,030
25082    YC  2019               639
25083    YC  2019               595
25084    YC  2019                67
25085    YC  2019             1,148
25086    YC  2019            54,383
25087    YC  2019               261
25088    YC  2019             1,460
25089    YC  2019               152
25090    YC  2019  99.5205479452055
25091    YC  2019               858

[25092 rows x 3 columns]

In [ ]:
#number of the

In [48]:
indicator_df= overdose_df[(overdose_df.Indicator == "Number of Deaths") & (overdose_df.Month =="April")]
# print(indicator_df)
indicator=indicator_df["Data Value"].tolist()
print(indicator)
print(len(indicator))

['4,133', '4,262', '4,325', '4,341', '50,565', '50,391', '51,794', '53,260', '30,444', '30,489', '31,382', '32,059', '53,025', '56,436', '56,454', '60,307', '252,831', '261,595', '265,286', '272,675', '36,601', '37,351', '38,521', '38,931', '30,431', '30,198', '31,103', '31,570', '5,740', '5,662', '6,241', '6,205', '8,580', '8,530', '9,150', '9,268', '192,268', '195,883', '201,341', '208,895', '79,111', '80,405', '82,588', '85,228', '11,031', '11,057', '11,205', '11,674', '29,412', '28,908', '29,999', '30,148', '12,753', '13,093', '13,619', '13,984', '104,256', '103,291', '105,559', '107,676', '63,354', '62,811', '65,321', '66,193', '25,392', '25,463', '26,134', '26,333', '45,635', '46,307', '48,046', '48,185', '44,230', '43,610', '44,836', '46,550', '58,197', '57,077', '59,087', '59,639', '46,928', '46,898', '49,576', '49,857', '13,993', '13,868', '14,445', '14,507', '94,589', '93,368', '96,144', '97,076', '42,623', '42,590', '43,647', '44,419', '61,945', '61,039', '63,345', '65,323', '30,303', '30,800', '31,037', '32,091', '9,508', '9,973', '10,217', '10,034', '88,620', '89,779', '92,537', '94,421', '6,955', '6,679', '6,970', '7,080', '16,670', '16,419', '16,866', '17,103', '11,681', '11,555', '12,068', '12,353', '71,525', '70,126', '73,487', '74,139', '17,123', '17,421', '17,789', '18,190', '22,926', '24,140', '24,992', '25,773', '98,250', '97,051', '99,275', '100,840', '117,559', '117,570', '121,843', '124,364', '38,006', '37,844', '38,742', '39,959', '34,918', '35,581', '36,705', '36,365', '134,004', '131,585', '136,404', '136,986', '10,249', '10,159', '10,226', '10,338', '45,723', '46,278', '47,315', '49,321', '7,742', '7,847', '8,157', '8,015', '69,550', '70,136', '72,491', '74,471', '189,620', '191,242', '196,770', '205,201', '2,691,628', '2,705,990', '2,782,927', '2,846,245', '17,578', '18,171', '18,455', '18,848', '64,331', '64,102', '66,754', '68,022', '5,776', '5,666', '5,838', '5,790', '53,014', '54,840', '56,114', '56,574', '51,340', '50,822', '51,832', '53,323', '22,086', '21,727', '22,448', '22,837', '4,526', '4,379', '4,380', '4,447', '53,978', '53,516', '54,067', '55,057']
212

In [51]:
#CHOOSE THE DATAVALUE FOR EACH YEAR
indicator_AK_df= overdose_df[(overdose_df.Indicator == "Number of Deaths") & (overdose_df.Month =="April")& 
                          (overdose_df.State == "AL")]
print(indicator_AK_df)
State= overdose_df.State.unique()
print(State)
print(len(State))

    State  Year  Month           Period         Indicator Data Value  \
613    AL  2015  April  12 month-ending  Number of Deaths     50,565
650    AL  2016  April  12 month-ending  Number of Deaths     50,391
686    AL  2017  April  12 month-ending  Number of Deaths     51,794
722    AL  2018  April  12 month-ending  Number of Deaths     53,260

    Percent Complete  Percent Pending Investigation State Name  \
613              100                       0.316424    Alabama
650              100                       0.279812    Alabama
686              100                       0.231687    Alabama
722              100                       0.161472    Alabama

                                              Footnote Footnote Symbol  \
613  Numbers may differ from published reports usin...              **
650  Numbers may differ from published reports usin...              **
686  Numbers may differ from published reports usin...              **
722              Underreported due to incomplete data.               *

    Predicted Value
613             NaN
650             NaN
686             NaN
722             NaN
['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'IA' 'ID'
 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC'
 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'US' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY' 'YC']
53

In [ ]:
#delete all the Null value of null value
#convert all the Null value to 0